.container {
  margin: 0 auto;
  display: grid;
  place-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 80vh;
}
  
  h2 {
    text-align: center;
    color: #ddd;
    padding: 15px;
}
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  form div {
    margin-bottom: 15px;
}
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
  
  input,
  select {
    padding: 8px;
    font-size: 14px;
}
  
  p {
    margin-top: 5px;
}
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
  button:hover {
    background-color: #0056b3;
}
  
  ul {
    list-style: none;
    padding: 0;
}
  
  ul li {
    margin-bottom: 5px;
    color: #555;
}
  
  ul li:before {
    content: "•";
    margin-right: 5px;
    color: #007bff;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: #2B2D2F;
  border: 1px solid black;
  border-radius: 8px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 1px 1px 4px black;
}

.selectContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.createButton{
  margin-bottom: 15px;
}