.container {
    margin: 0 auto;
    display: grid;
    place-items: center;
    justify-content: center;
    min-width: 280px;
    min-height: 90vh;
}

.flagContainer{
    display: flex;
    flex-direction: column;
    background-color: #2B2D2F;
    border: 1px solid black;
    border-radius: 8px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 1px 1px 8px black;
}

.infoContainer {
    max-width: 400px; 
    margin: 0 auto; 
}

.detailItem {
    display: flex;
    
}
  
  .detailItem h4 {
    margin-right: 3px; 
    margin-top: 5px;
}
 