.container {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 0px;
  margin-right: 0px;
}

.NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333; 
  color: #ddd; 
  padding: 10px;
  box-sizing: border-box;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortFilterContainer {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sortFilterContainer label {
  margin-right: 10px;
  margin-left: 10px; 
}

.sortFilterContainer select {
  margin-right: 20px;
  margin-left: 20px; 
  border-color: #333;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

button{
  border-color: #333;
  border-radius: 3px;
}

input{
  border-radius: 3px;
}

.globe{
  padding-left: 25px;
  width: 50px;
}