.container {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333; 
  color: #ddd; 
  padding: 10px;
  box-sizing: border-box;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortFilterContainer {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sortFilterContainer label {
  margin-right: 10px;
  margin-left: 10px; 
}

.sortFilterContainer select {
  margin-right: 20px;
  margin-left: 20px; 
}