.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 85vw;
  height: auto;
  margin: 20px auto; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #2B2D2F;
  color: #ddd;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
  color: #2B2D2F;
}

.currentPage{
  background-color:  #ddd !important;
  color: black !important;
}

.noResults {
  text-align: center;
  margin-top: 20px;
}

